* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #a2b2d5;
  height: 80px;
  & > h2 {
    line-height: 50px;
    text-align: center;
    & a {
      text-decoration: none;
      color: black;
    }
  }
  & > nav {
    height: 30px;
    & ul {
      display: flex;
      justify-content: center;
      list-style: none;
      & li {
        height: 30px;
        & a {
          color: black;
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          padding: 5px 10px;
          display: inline-block;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.bg-navbar {
  background-color: #6590ee;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  & > * {
    display: flex;
    & img {
      width: 200px;
      height: auto;
      max-height: 100px;
      object-fit: cover;
    }
  }
}

.linkButton {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
