* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #a2b2d5;
  height: 80px;
  & > h2 {
    line-height: 50px;
    text-align: center;
    & a {
      text-decoration: none;
      color: black;
    }
  }
  & > nav {
    height: 30px;
    & ul {
      display: flex;
      justify-content: center;
      list-style: none;
      & li {
        height: 30px;
        & a {
          color: black;
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          padding: 5px 10px;
          display: inline-block;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.bg-navbar {
  background-color: #6590ee;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  & > * {
    display: flex;
    & img {
      width: 200px;
      height: auto;
      max-height: 100px;
      object-fit: cover;
    }
  }
}

.linkButton {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
  text-decoration: none;
  border: none;
  &:hover {
    text-decoration: underline;
  }
}

.formTextField {
  display: flex;
  width: 100%;
  padding: 16px 0;
  &.fullWidth {
    & > div {
      &:last-child {
        & input {
          width: 100%;
        }
      }
    }
  }
  & > div {
    &:first-child {
      width: 160px;
      padding: 4px;
    }
    &:last-child {
      flex: 1;
      position: relative;
      & > *:first-child {
        font-size: 16px;
        padding: 4px;
      }
      & > p:first-child {
        font-weight: bold;
      }
      & > p:last-child {
        position: absolute;
        font-size: 14px;
      }
    }
  }
}

.form {
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}
