* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #a2b2d5;
  height: 80px;
}
.header > h2 {
  line-height: 50px;
  text-align: center;
}
.header > h2 a {
  text-decoration: none;
  color: black;
}
.header > nav {
  height: 30px;
}
.header > nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.header > nav ul li {
  height: 30px;
}
.header > nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 10px;
  display: inline-block;
}
.header > nav ul li a:hover {
  text-decoration: underline;
}

.bg-navbar {
  background-color: #6590ee;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.movies > * {
  display: flex;
}
.movies > * img {
  width: 200px;
  height: auto;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.linkButton {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
  text-decoration: none;
  border: none;
}
.linkButton:hover {
  text-decoration: underline;
}

.formTextField {
  display: flex;
  width: 100%;
  padding: 16px 0;
}
.formTextField.fullWidth > div:last-child input {
  width: 100%;
}
.formTextField > div:first-child {
  width: 160px;
  padding: 4px;
}
.formTextField > div:last-child {
  flex: 1;
  position: relative;
}
.formTextField > div:last-child > *:first-child {
  font-size: 16px;
  padding: 4px;
}
.formTextField > div:last-child > p:first-child {
  font-weight: bold;
}
.formTextField > div:last-child p {
  position: absolute;
  font-size: 14px;
}

.form {
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}